---
title: "Data Preview"
---

In [1]:
import pandas as pd

In [2]:
# Run these commands when running the notebooks on Jupyter, or locally.

wind_old_df = pd.read_csv('../data/wind_old.csv')
solar_old_df = pd.read_csv('../data/solar_old.csv')
wind_df = pd.read_csv('../data/wind.csv')
solar_df = pd.read_csv('../data/solar.csv')

In [3]:
# Run these commands when running the notebooks on Google Colab.

wind_old_df = pd.read_csv('https://raw.githubusercontent.com/AidanNeeson/renewable-ml/main/data/wind_old.csv')
solar_old_df = pd.read_csv('https://raw.githubusercontent.com/AidanNeeson/renewable-ml/main/data/solar_old.csv')
wind_df = pd.read_csv('https://raw.githubusercontent.com/AidanNeeson/renewable-ml/main/data/wind.csv')
solar_df = pd.read_csv('https://raw.githubusercontent.com/AidanNeeson/renewable-ml/main/data/solar.csv')

In [4]:
#| label: wind-old-dataset-preview

wind_old_df.head(5)

,id,lat,long,wind_speed,farm_type,capacity,capacity_factor,power_generation,estimated_cost
0,0,23.510410,-117.147260,6.07,offshore,16,0.169,23687.04,20800000
1,1,24.007446,-93.946777,7.43,offshore,16,0.302,42328.32,20800000
2,2,25.069138,-97.482483,8.19,offshore,16,0.375,52560.00,20800000
3,3,25.069443,-97.463135,8.19,offshore,16,0.375,52560.00,20800000
4,4,25.069763,-97.443756,8.19,offshore,16,0.376,52700.16,20800000

In [5]:
#| label: solar-old-dataset-preview

solar_old_df.head(5)

,id,lat,long,irradiance,farm_type,capacity,capacity_factor,power_generation,estimated_cost
0,0,25.896492,-97.460358,5.634079,large_community,5.00,0.235,10282.193270,13300000
1,1,26.032654,-97.738098,5.616413,small_utility,5.00,0.234,10249.953070,13300000
2,2,26.059063,-97.208252,5.746738,small_community,0.15,0.239,314.633929,399000
3,3,26.078449,-98.073364,5.742196,small_utility,5.00,0.239,10479.506980,13300000
4,4,26.143227,-98.311340,5.817187,small_utility,5.00,0.242,10616.365970,13300000

In [6]:
#| label: wind-dataset-preview

wind_df.head(5)

,id,lat,long,state,farm_type,wind_speed,lcoe,capacity,capacity_factor,available_wind_power,available_energy,generated_energy,cost
0,0,25.896492,-97.460358,Texas,onshore,7.46,31,2,0.433,1.997163,17495.14630,7575.398348,4.696747e+06
1,1,26.032654,-97.738098,Texas,onshore,7.45,31,10,0.414,9.945710,87124.42376,36069.511440,2.236310e+07
2,2,26.059063,-97.208252,Texas,onshore,8.18,31,2,0.506,2.633037,23065.40088,11671.092850,7.236078e+06
3,3,26.078449,-98.073364,Texas,onshore,7.17,31,16,0.363,14.185493,124264.92160,45108.166540,2.796706e+07
4,4,26.143227,-98.311340,Texas,onshore,7.06,31,16,0.358,13.542570,118632.91080,42470.582050,2.633176e+07

In [7]:
#| label: solar-dataset-preview

solar_df.head(5)

,id,lat,long,state,farm_type,irradiance,lcoe,capacity,capacity_factor,array_area,available_solar_resource,generated_energy,cost
0,0,25.896492,-97.460358,Texas,large_community,5.634079,39,5.00,0.235,90633.862770,21.276596,6132.00,4782960.0
1,1,26.032654,-97.738098,Texas,small_utility,5.616413,39,5.00,0.234,91307.484990,21.367521,6132.00,4782960.0
2,2,26.059063,-97.208252,Texas,small_community,5.746738,39,0.15,0.239,2621.097459,0.627615,183.96,143488.8
3,3,26.078449,-98.073364,Texas,small_utility,5.742196,39,5.00,0.239,87439.036330,20.920502,6132.00,4782960.0
4,4,26.143227,-98.311340,Texas,small_utility,5.817187,39,5.00,0.242,85241.850210,20.661157,6132.00,4782960.0